---
title: {{ APP }}
---

![Version: {{ VERSION }}](https://img.shields.io/badge/Version-{{ VERSION }}-informational?style=flat-square) ![License: {{ LICENSE }}](https://img.shields.io/badge/License-{{ LICENSE }}-informational?style=flat-square)

Source: {{ SOURCE }}

## Available Documentation

{{ DOCS_LINKS }}

{{ README_CONTENT }}

{{ COMPOSE_FILE }}
